/.venv/
/.tools/
/.wine-msvc/
/.vscode/
/build/
/build-editor/
/reccmp-user.yml
/reccmp-build.yml

/msvc710/
/dev-docs/
/Sumoeditor/
/tools/
/tests/
/SUMO/**/reference/

/sumofull.exe
/sumofull.exe.*
/sumoeditor.exe
/sumoeditor.exe.*
/tex*.tga
*.id0
*.id1
*.id2
*.i64
*.nam
*.til

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.cache/
.env
.env.*
*.obj
*.pdb
*.ilk
*.idb
*.map
*.suo
*.user
*.kate-swp
