/.venv/
/.tools/
/.wine-msvc/
/.vscode/
/build*/
/dist/
/reccmp-user.yml
/reccmp-build.yml

/msvc710/

/sumofull.exe
/sumofull.exe.*
/sumoeditor.exe
/sumoeditor.exe.*
/sumosteam.exe
/sumosteam.exe.*
/tex*.tga
*.id0
*.id1
*.id2
*.i64
*.nam
*.til

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.cache/
.env
.env.*
*.obj
*.pdb
*.ilk
*.idb
*.map
*.suo
*.user
*.kate-swp
/.cmake-win/
/out
/.vs
assets/audio/music/sumotori_old.xm
*.bak
